/* gallery css done with code from https://www.w3schools.com/howto/howto_js_slideshow.asp */
* {box-sizing:border-box}

body{
  font-family: Montserrat, Helvetica, sans-serif;
}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* the navigation bar styling */
h1>.SearchBar{
    font-size: 16px;
    word-spacing: 2em;
    width: 300px;
  padding: 250px;
}

h1>.SearchBar>a:link{
    text-decoration: none;
    color: black;
}

h1>.SearchBar>a:visited{
    text-decoration: none;
    color: black;
}

h1>.SearchBar>a:hover{
    color: deepskyblue;
}

h1>.SearchBar>a:active{
    color:aqua;
}

h2.TeamTitle{
  text-align: center;
}

img.FounderImage{
  width: 200px;
  height: 200px;
}

.teammember1{
  display: block;
  margin: 0px auto;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}



/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}